.account-screen-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.account-screen-title {
	font-size: 48px;
	margin-top: 48px;
}
.account-info-holder {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16px;
}
.account-info-title {
	font-size: 24px;
}
.account-info-content {
	font-size: 24px;
	margin-left: 50px;
}
.account-info-signout {
	font-size: 24px;
}
.account-info-signout:hover {
	opacity: 0.3;
	cursor: pointer;
}
.account-info-add-data {
	font-size: 24px;
}
.account-info-add-data:hover {
	opacity: 0.3;
	cursor: pointer;
}
.membership-purchase{
	
	font-size: 36px;
	margin-top: 36px;
}
.membership-info-content {
	color: red;
	font-size: 24px;
	margin-left: 50px;
	font-weight: bold;
	cursor: pointer;
}